/* #page { color:red; font-weight: normal; width:900px; }
#page .posledni { color:green; }
p span { margin: 10px; border: 1px solid black; }
#main { font-style: italic; }

#page p.posledni{
    color: black;
}

#page span {
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    display: inline-block;
    margin: 0;
}

#page p span:first-of-type {
    font-weight: bold;
}  */

p {margin:0; border:1px solid black}
#page {color:red; width: 400px}
#page .prvni {color: green; margin: 10px;}
.prvni {color: blue; font-style: normal;}
.licha {color: red;}
p > i {float: right; width: 100px;}
